
{% extends 'index.html' %}
{% load static %}


{% block Content_Section_index %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6">
                <div class="d-flex align-items-center">
                    <img src="{% static 'image/shuye.png' %}" alt="Leaf" class="me-3" style="width: 40px; height: auto;">
                    <h3 class="fw-bold" style="color: #083A3B">Statistics 2</h3>
                </div>
            </div>
        </div>

    </div>
{% endblock %}


